body {
  background-color: #f1f1f1;
  padding: 0;
  margin: 0;
}

article.post {
  background-color: #fff;
  max-width: 800px;
  padding: 1.5rem 2rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.5rem;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  article.post {
    margin-right: 1rem;
    margin-left: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  nav .site-title {
    padding-left: 1rem;
  }
}

article h1 {
  margin-top: 0;
  margin-bottom: 0.3rem;
}

.post-header p {
  margin: 0;
}

header.post-header {
  margin-bottom: 2rem;
}

nav {
  background-color: #149c82;
  color: #fff;
}

nav .site-title {
  font-size: 1.2rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.nav-container {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
