html {
  font-size: 16px;
}

body {
  background-color: #f1f1f1;
  padding: 0;
  margin: 0;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,"游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}

.orange {
  color: orange;
}

article.post, .home {
  background-color: #fff;
  max-width: 800px;
  padding: 1.5rem 2rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.5rem;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  article.post, .home {
    margin-right: 1rem;
    margin-left: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  nav .site-title {
    padding-left: 1rem;
  }
}

h1 {
  margin-top: 0;
  margin-bottom: 0.3rem;
  font-size: 2rem;
}

article h2 {
  border-bottom: 1px solid #ddd
}

article p {
  margin: 1.5rem 0;
}

article img {
  max-width: 100%;
}

.post-header p {
  margin: 0;
}

header.post-header {
  margin-bottom: 3rem;
}

nav {
  background-color: #149c82;
  color: #fff;
}

nav .site-title {
  font-size: 1.2rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.nav-container {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

footer {
  margin-top: 24px;
  text-align: center;
  color: #555;
  text-decoration: none;
}

.footer-sns a {
  margin: 0 12px;
  fill: #555;
}

.footer-sns a:hover {
  fill: #888;
}

.copylight a {
  color: #555;
}

.copylight a:hover {
  color: #888;
}

.highlight, blockquote {
  margin: 0;
}

.highlight pre, blockquote {
  background-color: #f6f8fa;
  padding: 1em;
  border-radius: 3px;
}

pre {
  overflow: auto;
}

pre code {
  display: inline;
  overflow: visible;
}

code.highlighter-rouge {
  background-color: #eee;
  padding: 0.2em 0.4em;
  font-size: 85%;
  border-radius: 3px;
  font-weight: bold;
}
