---
layout: default
---

<style>
.post-list {
  list-style-type: none;
  padding: 0;
  margin-top: 3rem;
}

h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
</style>

<div class="home">
  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%Y/%m/%d" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
</div>

{% include author.html %}
